/* Overlaying css for theme */
img {
	width:100%;
}
h1, h2, h3, h4, h5, h6 {
	font-weight:700;
	margin-top:1em;
}
em {
	color:inherit;
}
h2 {
	font-size: 2.4em;
}
.tel-link:hover {
	text-decoration: none;
}
.purple-text {
	color:#4b2177;
}
.white-text {
	color:#FFF;
}
.text-shadow {
	text-shadow:0px 2px 2px rgba(0,0,0,.2);
}
#headerMain .navbar {
	background:transparent;
	padding-top:1em;
	border:0px;
	padding-bottom: 1.2em;
	margin-bottom: 0;
	box-shadow: 0px 3px 3px rgba(0,0,0,.1);
}
#headerMain .navbar-brand {
	float:none;
}
.nav-pills>li>a {
	margin: 0px 2px;
}
#logo {
	max-width:140px;
	min-width: 80px;
	height:auto;
	margin-top:0.5em;
}
.jumbotron {
	margin-bottom:0;
	text-align: center;
	line-height: 1.7em;
	background-image: url('../img/ds-graphic.png');
	background-position:center bottom;
	background-repeat:no-repeat;
	background-size: 100% auto;
}
.jumbotron h1 {
	color:#4b2177;
}
.first-content {
	padding-bottom:1.5em;
}
.sticky-nav {
	background: #4b2177;
	z-index: 1000;
	width: 100%;
	top:0px;
}
div.sticky-nav.scroll-spy-nav.affix {
box-shadow: 0px 3px 3px rgba(0,0,0,.1);
}
.sticky-nav .navbar-toggle {
	background:rgba(0,0,0,.35);
}
.sticky-nav .navbar-toggle .icon-bar {
	background:rgba(255,255,255,.25);
}
.sticky-nav .navbar-toggle:hover {
	background:rgba(0,0,0,.5);
}
.sticky-nav .secondary-navbar a {
	font-weight: 700;
	text-transform: uppercase;
	padding: 15px 10px;
	font-size: 0.9em;
	line-height: 1.2em;
	color:#FFF;
	display: inline-block;
	vertical-align: middle;
	width: 100%;
}
.sticky-nav .secondary-navbar li:hover a, .sticky-nav .secondary-navbar li.active a {
	color:#FFF;
	background:transparent;
}
.sticky-nav .secondary-navbar li:hover, .sticky-nav .secondary-navbar li.active {
	background:rgba(0,0,0,.2);
}
#toyota-logo {
	max-width: 400px;
	height:auto;
}
#example {
	padding:5% 0 2.5%;
}
#example .scroll-to {
	margin:3em 0 2em;
}
#example {
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
}
#toyota-services {
	background-image: url('../img/services-bg.jpg');
	background-position:center top;
	background-repeat:no-repeat;
	background-size: auto 100%;
}
#pricing {
	background:#f0f0f0;
	overflow: hidden;
	padding: 1% 0 2%;
}
#pricing h2 {
	/*color:#FFF;
	text-shadow:0px 2px 2px rgba(0,0,0,.5);*/
	text-align: center;
	margin-bottom: 1em
}
#talk-to-us {
	padding:2em 0 1em;
}
.flat .plan {
  position:relative;
  border-radius: 6px 6px 0px 6px;
  list-style: none;
  padding: 0;
  margin: 0 -15px 1em;
  background: transparent;
  text-align: center;
  box-shadow: 0px 1px 1px rgba(0,0,0,.35);
}
.flat .plan li {
  padding: 10px 15px;
  color: #666;
  border-top: 1px solid #f5f5f5;
  -webkit-transition: 300ms;
  transition: 300ms;
  background:#FFF;
}
.flat .plan li.plan-price {
  border-top: 0;
  background-color:#eaeaea;
}
.flat .plan li.plan-name {
  padding: 15px;
  color: #fff;
  background: #d11e24;
  border-top: 0;
}
.flat .col-md-3:first-child .plan li.plan-name {
	border-radius: 6px 0 0 0;
}
.flat .col-md-3:nth-child(3) .plan li.plan-name {
	border-radius: 0 6px 0 0;
}
.flat .col-md-3:last-child .plan {
	margin:0 10px 4em;
}
.flat .col-md-3:last-child .plan li.plan-name {
	border-radius: 6px 6px 0 0;
}
.flat .col-md-3:nth-child(3) .plan {
	border-radius: 6px 6px 6px 6px;
}
.flat .col-md-3:nth-child(3) .plan li.plan-action {
	border-bottom-right-radius: 6px;
}
.flat .plan li.plan-name h4 {
  font-size: 1.3em;
  font-weight: 700;
  text-shadow:0px -1px 0px rgba(0,0,0,.2);
  text-transform: uppercase;
  margin:0;
}
.flat .plan li img {
	max-width: 100px;
}
.flat .plan li > strong {
  color: #ED1C24;
}
.flat .plan.featured li > strong {
  color: #ED1C24;
}
.flat .plan.options li > strong {
	color:#686868;
}
.flat .plan li.plan-action {
	border-bottom-left-radius: 6px;
	/*border-bottom-right-radius: 6px;*/
}
.flat .plan.featured {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.flat .plan.featured li.plan-name {
  background: #d11e24;
}
.flat .plan.options li.plan-name {
  background: #aaa;
}
#why-ds .container>h2 {
	margin-bottom: -3em;
	z-index: 100;
	position: relative;
	text-align: center;
}
#why-ds .item {
	background-size:100% auto;
	background-position: center center;
	background-repeat:no-repeat;
	background-size:cover;
}
#why-ds .item h1 {
	font-size:2em;
}
#why-ds .item.first {
	background-image:url('../img/bokeh-bg-1.jpg');
}
#why-ds .item.second {
	background-image:url('../img/bokeh-bg-2.jpg');
}
#why-ds .item.third {
	background-image:url('../img/bokeh-bg-3.jpg');
}
#why-ds .item.forth {
	background-image:url('../img/bokeh-bg-4.jpg');
}
#why-ds .item.fifth {
	background-image:url('../img/bokeh-bg-5.jpg');
}
.carousel-content {
	padding: 5% 5% 10%;
	color:#FFF;
	text-shadow:0px 2px 1px rgba(0,0,0,.2);
	margin-top:1em;
}
#example {
	overflow: hidden;
}
#example-text, #example-pic {
	position: relative;
}

#example-container {
	position: relative;
}
#example-text h2 {
	margin-top: .2em;
}
#talk-to-us {
	padding:5% 0;
}
#talk-to-us h2 {
	margin-top:0;
}
.nav-justified>li {
	text-align: center;
}
.nav-justified>li a {

}
.attribution {
	text-align: right;
	font-size:0.9em;
	display:block;
	font-style: italic;
}
#footerMain {
	background:#eaeaea;
	padding:2em 0;
}
.well h3:first-child {
	margin-top:0;
}
.well.phone-number {
	box-shadow:none;
	background:#4b2177;
	color:#FFF;
	border-color:#4b2177;
	text-align: center;
}
.well.phone-number:hover {
	background:#56238b;
}
.well.phone-number h2 {
	font-size:2.6em;
}
.well.phone-number h3 {
	margin:.2em 0 .75em 0;
}

#contact-form {
	position:relative;
}
#contact-form h3 {
	font-size:0.9em;
	text-transform: uppercase;
	color:rgba(0,0,0,.4);
	letter-spacing: 1px;
	margin-bottom:2em;
	margin-top:0;
}
#toyota-services {
	text-align: center;
	padding: 2% 0 4%;
	min-height: 945px;
}
#toyota-services h2 {
	/*color:#ED1C24;*/
}
#toyota-services h4 {
	font-weight: 300;
	margin-top:0;
}
#toyota-services .services {
	margin-top: 2em;
	margin-bottom: 1em;
	background: rgba(255,255,255,.25);
	border-radius: 5px;
	border: 1px solid rgba(255,255,255,.5);
	color: #FFF;
	padding: 20px;
}
#toyota-services .services h5 {
	text-transform: uppercase;
	font-weight: 500;
	color:white;
	letter-spacing: 0.1em;
	font-size: 1.1em;
}
#toyota-services .services span.service-icon {
	display:inline-block;
	position:relative;
	border-radius: 4px;
	box-shadow: 0px 1px 2px 0px rgba(0,0,0,.35);
	width:60px;
	height:60px;
	text-align: center;
	background: #ed1c24; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #ed1c24 0%, #ed1c24 50%, #d11e24 51%, #d11e24 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#ed1c24), color-stop(50%,#ed1c24), color-stop(51%,#d11e24), color-stop(100%,#d11e24)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  #ed1c24 0%,#ed1c24 50%,#d11e24 51%,#d11e24 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  #ed1c24 0%,#ed1c24 50%,#d11e24 51%,#d11e24 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  #ed1c24 0%,#ed1c24 50%,#d11e24 51%,#d11e24 100%); /* IE10+ */
	background: linear-gradient(135deg,  #ed1c24 0%,#ed1c24 50%,#d11e24 51%,#d11e24 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed1c24', endColorstr='#d11e24',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	/*
	background: #444444;
	background: -moz-linear-gradient(-45deg,  #444444 0%, #393939 49%, #303030 50%, #333333 100%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#444444), color-stop(49%,#393939), color-stop(50%,#303030), color-stop(100%,#333333));
	background: -webkit-linear-gradient(-45deg,  #444444 0%,#393939 49%,#303030 50%,#333333 100%);
	background: -o-linear-gradient(-45deg,  #444444 0%,#393939 49%,#303030 50%,#333333 100%);
	background: -ms-linear-gradient(-45deg,  #444444 0%,#393939 49%,#303030 50%,#333333 100%);
	background: linear-gradient(135deg,  #444444 0%,#393939 49%,#303030 50%,#333333 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444444', endColorstr='#333333',GradientType=1 ); 
	*/
}
#toyota-services .services p {
	font-weight: 300;
	color: white;
	line-height: 1.2em;
}
#toyota-services .services span.service-icon i {
	margin-top:15px;
	color:#FFF;
	font-size:2em;
}
#toyota-services-graphic {
	text-align: center;
	padding-top: 1em;
	margin-top: 1em;
}
#toyota-services-graphic img.svg-img {
	margin: 0 0 1em;
	max-width: 867px;
}
#contacts iframe {
	width:100%;
}
.example-points {
	list-style-type: none;
}
.example-points li {
	margin-bottom:.5em;
}
.example-points li em {
	color:#ED1C24;
}
.example-points i {
	margin-right: 5px;
}
.example-points li.target {
	margin-bottom:0;
	text-indent: -.6em;
}

.example-points li.result {
	margin-top:0;
	text-indent: -.6em;
}
span.required-tag {
	margin-left:3px;
	font-size:1.2em;
	font-weight: 600;
	color:#ED1C24;
}

#ds-carousel p {
	font-size:1.2em;
}
.next-button {
	text-align: center;
}
.scroll-to {
	margin:1em 0;
}
@media (min-width: 750px){
	#example-pic img {
		margin-top:4em;
	}
}
@media (min-width: 950px){
	.jumbotron h1 {
		font-size: 4em;
		margin-top: .5em;
	}
	.carousel .item {
		/*min-height: 500px;*/
		height: 550px;
		padding:50px 0 30px;
	}
}
@media (min-width: 768px){
  	#headerMain .nav-pills {
		margin-top: 2.5em;
	}
	#scrollToExample {
		margin-top:-100px;
	}
	.carousel-indicators {
		bottom: 80px;
	}
}
@media (min-width: 1060px){
	.carousel .item {
		/*min-height: 500px;*/
		height: 620px;
		padding:50px 0 30px;
	}
	#scrollToExample {
		margin-top:-120px;
	}
	.carousel-indicators {
		bottom: 100px;
	}
}
@media (max-width: 1100px){
	.carousel .item img {
		margin-top:1em;
	}
}
@media (max-width: 950px){
	.carousel .item {
		height: 500px;
		font-size:0.9em;
		padding:40px 0 20px;
	}
	.flat .col-md-3:first-child .plan li.plan-name {
		border-radius: 6px 6px 0 0;
	}
	.flat .plan li.plan-action {
		border-bottom-left-radius: 6px;
		border-bottom-right-radius: 6px;
	}
	.flat .plan {
		border-radius: 6px;
	}
	.flat .plan li.plan-name {
		border-radius: 6px 6px 0 0!important;
	}
}
@media (max-width: 768px){
  	#headerMain .nav-pills {
		margin-top: 1em;
	}
	.carousel .item {
		height: 450px;
		font-size:0.8em;
		padding:30px 0 10px;
	}
	#scrollToExample {
		margin-top:-80px;
	}
	.carousel-indicators {
		bottom: 60px;
	}
}

@media (max-width: 500px){
	.jumbotron {
		background-size: 400px auto;
	}
}
@media screen and (min-width: 768px){
	.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-prev, .carousel-control .icon-next {
		margin-left:-45px;
	}
	.carousel-control .icon-next, .carousel-control .glyphicon-chevron-right {
		right: 45px;
	}
}
@media screen and (max-width: 768px){
	.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-prev, .carousel-control .icon-next {
		margin-left:-30px;
	}
	.carousel-control .icon-next, .carousel-control .glyphicon-chevron-right {
		right: 30px;
	}
	.flat .plan {
		margin-left:0;
		margin-right:0;
	}
}



/* Special button animations */

/* Pulse */
@-webkit-keyframes pulse {
  25% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }

  75% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }
}

@keyframes pulse {
  25% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }

  75% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }
}
@-webkit-keyframes pulseGlow {
  25% {
    -webkit-transform: scale(1);
    transform: scale(1);
    background-color: #ED1C24; 
    box-shadow: 0 0 3px #ED1C24;
  }

  75% {
    -webkit-transform: scale(0.98);
    transform: scale(0.9);
    background-color: #d11e24; 
    box-shadow: 0 0 0px #d11e24;
  }
}

@keyframes pulseGlow {
  25% {
    -webkit-transform: scale(1);
    transform: scale(1);
    background-color: #ED1C24; 
    box-shadow: 0 0 3px #ED1C24;
  }

  75% {
    -webkit-transform: scale(0.98);
    transform: scale(0.9);
    background-color: #d11e24; 
    box-shadow: 0 0 0px #d11e24;
  }
}

.pulse {
  display: inline-block;
  -webkit-transform: translateZ(0.99);
  transform: translateZ(0.95);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.pulse, .pulse:focus, .pulse:active {
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.pulseGlow {
	background:#d11e24;
	border-color:#d11e24;
	color:#FFF;

	display: inline-block;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);

	-webkit-animation-name: pulseGlow;
	animation-name: pulseGlow;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;	
}
.pulseGlow:hover {
	color:#FFF;
}
